# Environnements virtuels
venv/
.env/
*.pyc
__pycache__/

# Django
db.sqlite3
/staticfiles/
media/
*.log

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
/.venv/
.env

# Local caches
pip-cache/
__pycache__/
*.pyc
.hf/

